html{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    color: rgb(54, 54, 54);
    overflow: hidden;
}
svg#freepik_stories-coffee-break {
    width: 20%;
}

#content {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}


button {
    background-color: #C53F3F;
    color: white;
    padding: 4vh 10vh;
    border: none;
    border-radius: 10px;
    transition: ease-in-out .3s;
}

button:hover{
    background-color: rgb(54, 54, 54);
}

button:focus {
    outline:0;
}